name: Deploy Storybook

on:
  workflow_call:
    inputs:
      install_dependencies_timeout:
        description: "Timeout for the 'Install dependencies' step in minutes"
        required: false
        default: 10
        type: number
      container:
        description: "Container image to use for the job (optional)"
        required: false
        type: string

jobs:
  deploy-storybook:
    if: github.event_name == 'push'
    runs-on: ubuntu-latest
    container: ${{ inputs.container }}
    permissions:
      contents: write
      packages: read
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: '20'
          registry-url: 'https://npm.pkg.github.com/'

      - name: Install dependencies
        run: npm ci
        timeout-minutes: ${{ inputs.install_dependencies_timeout }}
        env:
          NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          # Avoid slow/hanging installs on CI: skip Puppeteer downloads and disable Husky hook setup.
          PUPPETEER_SKIP_DOWNLOAD: 1
          HUSKY: 0

      # remove once all components have update-lock-file npm script
      - name: Update dependencies (deprecated)
        run: npm ls --json |  jq -r '.dependencies | keys[]' | grep "@netcracker" | xargs --no-run-if-empty npm update
        env:
          NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      # This step is to update internal dependencies specified via dist tag version to their latest available versions
      - name: Update dependencies
        run: npm run update-lock-file --if-present
        env:
          NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Build the showcase
        run: npm run build:showcase

      - name: Deploy Storybook to gh-pages
        uses: peaceiris/actions-gh-pages@v4
        with:
          destination_dir: ${{ github.ref_name }}
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./dist-showcase

  delete-folder-from-gh-pages:
    if: github.event_name == 'delete' && github.event.ref_type == 'branch'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout gh-pages
        uses: actions/checkout@v6
        with:
          ref: gh-pages

      - name: Delete corresponding folder in gh-pages branch
        run: |
          if [ -d ${{ github.event.ref }} ]; then
            rm -rf ${{ github.event.ref }}
            git config --global user.name "github-actions"
            git config --global user.email "github-actions@github.com"
            git add .
            git commit -m "docs: delete folder ${{ github.event.ref }} from gh-pages branch"
            git push origin gh-pages
          fi
